
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

main{
display: flex;
height: 90vh;
}

.left img{

margin-top: 20%;
max-width: 80%;
height: auto;
}
.formulario img{
    margin-left: 40%;
    width: 20%;
    height: auto;
}

.formulario{  
  width: 50%;
height: 100vh;
background-color: rgb(255, 249, 249);
justify-content: center;
}


form{
     margin-top: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

form input{
  box-shadow: rgb(15, 15, 15);
    margin-left: 10%;
    margin-top: 15px;
    width: 76%;
    height: 30px;

}
.input-icone{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23888' viewBox='0 0 448 512'%3E%3Cpath d='M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm89.6 32h-11.2c-22.4 10.3-47.3 16-73.6 16s-51.2-5.7-73.6-16h-11.2C65.6 288 0 353.6 0 435.2V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-28.8c0-81.6-65.6-147.2-144.4-147.2z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  padding-left: 35px; /* espaço para o ícone */
  background-size:25px;
  
}
.input-icone1{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23888' viewBox='0 0 448 512'%3E%3Cpath d='M400 192h-24V128C376 57.3 318.7 0 248 0S120 57.3 120 128v64H96c-26.5 0-48 21.5-48 48v224c0 26.5 21.5 48 48 48h304c26.5 0 48-21.5 48-48V240c0-26.5-21.5-48-48-48zm-88 0H136V128c0-48.6 39.4-88 88-88s88 39.4 88 88v64z'/%3E%3C/svg%3E");
  padding-left: 35px; /* espaço para o ícone */
  background-size:25px;
  background-repeat: no-repeat;
  
}
.button1{
  margin-top: 20px;
  width: 76%;  
  margin-left: 10%;
  background-color: rgb(139, 138, 138); 
  color: black; 
  border-radius: 5px;
  height: 36px;
}

  
.button1:hover {
    background-color: #04AA6D;
    color: white;
  }

  .switch-container {
    margin-top: 10px;
    margin-left: 70%;
    display: flex;
    align-items: center;
    gap: 10px; 
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
  }
  
  .slider::before {
    position: absolute;
    content: "";
    height: 18px; width: 18px;
    left: 3px; bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #4caf50;
  }
  
  input:checked + .slider::before {
    transform: translateX(26px);
  }
  
 
  .aviso {
    font-size: 14px;
    color: #333;
  }
  .password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .password-toggle-icon i {
    font-size: 18px;
    line-height: 1;
    color: #333;
    transition: color 0.3s ease-in-out;
    margin-bottom: 20px;
  }
  
  .password-toggle-icon i:hover {
    color: #000;
  }

@media (max-width: 1024px) {
  main {
    flex-direction: column;
    height: auto;
  }

  .formulario {
    width: 100%;
    height: auto;
    padding: 20px 0;
  }

  .formulario img {
    margin: 0 auto 20px auto;
    display: block;
    width: 30%;
  }

  .left img {
    margin: 20px auto;
    display: block;
    max-width: 60%;
  }

  form {
    margin: 5% auto;
    width: 80%;
    margin-left: 0;
  }

  form input {
    width: 100%;
    margin-left: 0;
  }

  .button1 {
    width: 100%;
    margin-left: 0;
  }

  .switch-container {
    margin-left: 60%;
  }
}


@media (max-width: 768px) {
  .formulario img {
    width: 40%;
  }

  .left img {
    max-width: 80%;
  }

  .switch-container {
    margin-left: 0;
    justify-content: center;
  }

  .formulario {
    padding: 10px;
  }

  form {
    width: 90%;
  }

  .button1 {
    font-size: 16px;
    height: 40px;
  }

  .switch-container {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
}
