body {
    align-items: center;
    display: flex;
    background-image: url(https://wallpapers.com/images/featured/fundo-de-cor-simples-4nyuafvmzjeboev9.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    justify-content: center; 
    height: 100vh; 
}

.container {
    background-color: transparent;
    border-radius: 16px;
    text-align: center;
 
}

button {
background-color: #252221;  
border: none;
border-radius: 18px;  
margin-top: 20px;
padding: 20px;
font-size: 24px;
color: white;
cursor: pointer;
transition: all 0.3s ease; 
height: 220px;
width: 250px;  
position: relative;  /* Para efeito de brilho */
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);  /* Sombra suave */
}

/* Efeito quando o botão é "hovered" */
button:hover {

transform: scale(1.1) rotate(5deg);  /* Animação de escala e rotação */
box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);  /* Sombra mais forte */
border: 3px solid #918d8c;  /* Borda chamativa */
}

/* Efeito de brilho */
button:before {
content: ''; 
position: absolute;
top: 50%;
left: 50%;
width: 300%;
height: 300%;
background: rgba(255, 255, 255, 0.3); 
border-radius: 50%;
transform: translate(-50%, -50%) scale(0);
animation: shine 1.5s ease-in-out infinite;  
}

@keyframes shine {
0% {
transform: translate(-50%, -50%) scale(0);
opacity: 0.5;
}
50% {
transform: translate(-50%, -50%) scale(1);
opacity: 0.2;
}
100% {
transform: translate(-50%, -50%) scale(0);
opacity: 0.5;
}
}

.resultsCss{
    margin-left: 20px;
    font-size: 24px;
    color: #ececec; 
    border-radius: 10px;  
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  
    margin-bottom: 20px; 
    max-width: 90%;  
    text-align: left; 
}

header {
    font-style: italic;
font-size: 80px;
margin-top: 0; 
position: fixed; 
top: 0; 
left: 43%;
right: 0; 
color: white;

}