<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <img src="images/ford.png" class="imgf" alt="Ford Logo">
    <a  (click)="home()" style="color: green;" >home</a>
    <a routerLink="/dashboard" class="active"style="color: green; ">dashboard</a>
     <a  (click)="logout()"  style="color: red;">Logout</a>
  </div>
  <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
  



<div class="dashboard-container">
 

  <!-- Seletor de Veículo -->
  <div class="vehicle-selector">
    <label for="vehicleSelect">Selecione um veículo:</label>
    <select id="vehicleSelect" class="vehicle-select" 
            [(ngModel)]="selectedVehicle" 
            (change)="selectVehicle(selectedVehicle)">
      <option [ngValue]="null" disabled>Selecione um veículo</option>
      <option *ngFor="let vehicle of vehicles" [ngValue]="vehicle">
        {{vehicle.model}} ({{vehicle.year}})
      </option>
    </select>
  </div>

  <!-- Cartões de Métricas -->
  <div class="metrics-cards">
    <div class="metric-card">
      <div class="metric-header">
        <h3>Total de Vendas</h3>
      </div>
      <div class="metric-value">{{currentTotalSales.toLocaleString('pt-BR')}}</div>
      <div class="metric-unit">{{selectedVehicle ? 'unit' : 'totais'}}</div>
    </div>

  <div class="metric-card">
    <div class="metric-header">
      <h3>Conectados</h3>
    </div>
    <div class="metric-value">{{connectedVehicles}}</div>
    <div class="metric-unit">unit</div>
  </div>

  <div class="metric-card">
    <div class="metric-header">
      <h3>Software Atualizado</h3>
    </div>
    <div class="metric-value">{{updatedVehicles}}</div>
    <div class="metric-unit">unit</div>
  </div>
</div>
  <!-- Imagem do Veículo Selecionado -->
  <div class="vehicle-image" *ngIf="selectedVehicle">
    <img [src]="selectedVehicle.imageUrl" [alt]="selectedVehicle.model" class="vehicle-img">
    <h2>{{selectedVehicle.model}} ({{selectedVehicle.year}})</h2>
  </div>

  <!-- Busca por VIN -->
  <div class="vin-search">
    <input type="text" [(ngModel)]="searchVin" placeholder="Digite o código VIN ">
    <button class="btn btn-success" (click)="searchVehicleData()">Buscar Dados</button>
  </div>

  <!-- Tabela de Resultados -->
  <div class="vehicle-data" *ngIf="vehicleData">
    <h3>Dados do Veículo</h3>
    <table>
      <thead>
        <tr>
          <th>Código VIN</th>
          <th>Odômetro</th>
          <th>Nível Combustível</th>
          <th>Status</th>
          <th>lat</th>
          <th>long</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{vehicleData.vin}}</td>
          <td>{{vehicleData.odometer}} km</td>
          <td>{{vehicleData.fuelLevel}}%</td>
          <td>{{vehicleData.status}}</td>
          <td>{{vehicleData.lat}}</td>
          <td>{{vehicleData.long}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>