<!-- home.component.html -->
<div class="app-container">
  <div id="mySidenav" class="sidenav" [class.open]="isNavOpen">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <div class="nav-header">
      <img src="/images/ford.png" class="nav-logo" alt="Ford Logo">
    </div>
    <div class="nav-links">
      <a routerLink="/home" class="active" routerLinkActive="active">Home</a>
      <a routerLink="/dashboard"  routerLinkActive="active">Dashboard</a>
      <a (click)=" logout()" class="logout-link">Logout</a>
    </div>
  </div>

  <div class="main-content" [class.menu-open]="isNavOpen">
    <button class="menu-toggle" (click)="openNav()">
      <span class="hamburger">&#9776;</span>
    </button>

    <div class="welcome-container">
      <div class="welcome-card">
        <div class="welcome-header">Sistema de dados FORD</div>
        <div class="welcome-body">
          <p style="color: blue; font-size: 30px;" >Seja bem vindo(a)!</p>
          <p>Dashboard da Ford</p>
          <P>Monitoramento de Veículos em Tempo Real</P>
          <p>Acesse dados completos da sua frota Ford</p>
        </div>
      </div>
    </div>
  </div>

  <footer class="app-footer">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="images/ford-96.png" alt="Ford Logo">
      </div>
      <div class="footer-links">
        <a >Politicas de privacidade</a>
        <a >Termos de serviços</a>
        <a>Contate nos</a>
      </div>
      <div class="footer-copyright">
        &copy; 2025 Ford Motor Company. todos os direitos reservados . Desenvolvedor Adriel Vaz Lima.
      </div>
    </div>
  </footer>
</div>