<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <img src="images/ford.png" class="imgf" alt="Ford Logo">
    <a routerLink="/home" style="color: green;" class="active">home</a>
    <a routerLink="/dashboard" style="color: green;">dashboard</a>
  </div>
  <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
  
  <main id="main">
    <img src="images/ranger.png" alt="Ford Ranger">
    
    <div class="modal-welcome">
      <div class="modal-header">sistema de dados ford</div>
      <div class="modal-content">
        <span>Bem-vindo</span>
      </div>
    </div>
  </main>