<div class="all-screen">
<div class="title" style="color: darkblue;">Compilado dos Projetos Ford Enter <img  style="width: 100px;" src="/images/ford.png" alt=""></div>

<main class="card-container">
  <div class="card">
    <img src="images/JavaScript-Logo-2048x1280.png" style="width: 40px;height: auto;" alt="">
    <p>Inglês Técnico e Lógica de Programação</p>
    <p>Desenvolver utilizando JavaScript e Html Para Calcular (Utilizando o Prompt do HTML): </p>
    <p>O consumo necessário em litros para o descolamento da casa para o trabalho</p>
    <p>O local mais acessível para abastecimento de combustível</p>
    <p>A média de valores de preços de combustíveis na região pesquisada</p>
    <p> O gasto diário com combustível</p>
    
    <button (click)="Openlogica()" class="btn">Ver Projeto</button>

  </div>
  <div class="card">
    <img src="/images/transferir.png" style="width: 40px;height: auto;" alt="">
    <p>Versionamento e Metodologias Ágeis</p>
    <p>Introdução ao Método Scrum</p>
    <p> criação de branchs no repositório local</p>
<p>realização de atualizações no repositório local;</p>
 <p>atualização do servidor remoto com as alterações feitas no repositório local</p>
    <button (click)="openVersionamento()" class="btn">Ver Projeto</button>
  </div>
  <div class="card">
    <img src="/images/174854.png" alt="">
    <p>HTML e CSS</p>
    <p>Desenvolver uma página Web utilizando estruturas básicas de HTML e CSS. </p>
    <p> Criar classes e pseudoclasses em CSS para otimização da estilização de elementos. </p>
    <p>Aplicar a hierarquia no CSS aplicado em formulário e tabelas</p>
    <p>Criar páginas responsivas utilizando CSS avançado e fontes externas.</p>
    <button (click)="openHtmlecss()" class="btn">Ver Projeto</button>
  </div>
  <div class="card">
       <img src="images/1000_F_527977463_hcQAYoMqDE17JUYji9J9bVIV6CWMsFuG.jpg" style="width: 80px;height: auto;" alt="">
    <p>JavaScript</p>
    <p>Criar páginas para web, manipulando elementos, eventos do navegador e formulários através da linguagem
JavaScript.</p>
<p>Utilizar os elementos básicos da orientação a objetos (classes, objetos e encapsulamento) em uma aplicação
web com JavaScript</p>
<p>Utilizar elementos avançados da orientação a objetos (herança e interface) em uma aplicação web com
JavaScript.
</p>
    <button (click)="openJavacript()" class="btn">Ver Projeto</button>
  </div>
  <div class="card">
    <img src="/images/images.jpg"alt="">
    <p>LGPD</p>
    <p>Identificar situações sensíveis de proteção e privacidade dos dados</p>
    <p>Desenvolver aplicações garantindo a aplicabilidade da LGPD</p>
    <button (click)="openLGPD()" class="btn">Ver Projeto</button>
  </div>
  <div class="card">
    <img src="/images/download.jpg" alt="">
    <p>Angular</p>
    <p>Explicar os recursos da linguagem Typescript. </p>
    <p>Utilizar os recursos da linguagem Typescript.</p>
    <p>Utilizar o Angular para o desenvolvimento ágil de aplicações robustas. </p>
    <p>Desenvolver componentes reativos para ter bons resultados de interatividade com o usuário. 
</p>
<p>Otimizar aplicações com foco em performance.</p>
    <button (click)='openAngular()' class="btn">Ver Projeto</button>
  </div>
</main>
   <footer class="site-footer">
    <div class="footer-content">
      <div class="footer-text">
        <p>© 2025 Todos os direitos reservados</p>
        <p>Desenvolvido por <strong>Adriel Vaz Lima</strong></p>
      </div>
      <div class="footer-image">
        <img src="/images/9da3d4bc-e1a8-4c6c-84d3-de4267af8f39.jfif" alt="Foto do desenvolvedor">
      </div>
    </div>
  </footer>
</div>