<div class="all-screen">
<div class="title">Compilado dos Projetos Ford Enter</div>

<main class="card-container">
  <div class="card">
    <img src="images/JavaScript-Logo-2048x1280.png" style="width: 40px;height: auto;" alt="">
    <p>Inglês Técnico e Lógica de Programação</p>
    <p>Desenvolver utilizando JavaScript e Html Para Calcular (Utilizando o Prompt do HTML): </p>
    <p>O consumo necessário em litros para o descolamento da casa para o trabalho</p>
    <p>O local mais acessível para abastecimento de combustível</p>
    <p>A média de valores de preços de combustíveis na região pesquisada</p>
    <p> O gasto diário com combustível</p>
    
    <button (click)="Openlogica()" class="btn">Ver Projeto</button>

  </div>
  <div class="card">
    <img src="/images/transferir.png" style="width: 40px;height: auto;" alt="">
    <p>Versionamento e Metodologias Ágeis</p>
    <button class="btn">Ver Projeto</button>
  </div>
  <div class="card">
    <p>HTML e CSS</p>
    <button class="btn">Ver Projeto</button>
  </div>
  <div class="card">
    <p>JavaScript</p>
    <button class="btn">Ver Projeto</button>
  </div>
  <div class="card">
    <p>LGPD</p>
    <button class="btn">Ver Projeto</button>
  </div>
  <div class="card">
    <p>Angular</p>
    <button (click)='openAngular()' class="btn">Ver Projeto</button>
  </div>
</main>
</div>