
<body>
    <header> 
        <img class="logTop" src="/img/logo-ford-256.png" alt="">
    <div class="menu">
        <a href="index.html">Home</a>
        <a href="lancamento.html">Lançamento</a>
        <a href="contato.html">Contato</a>
    </div>    
    </header>
    <main>
     <img src="images/imagem_1.jpg" alt="nova ranger">
      <div class="mensagem">esta é nova ranger 2022. verifique novidades <a href="/html/lancamento.html">aqui</a></div> 
    </main>
    <footer>
        <div class="footer-container">Redes Sociais 
            <a href="https://www.facebook.com/ford/?locale=pt_BR"><img src="/img/facebook-50.png"  alt=""></a>
            <a href="https://www.youtube.com/@fordbrasil"><img src="/img/youtube-squared-50.png" alt=""></a>
            <a href="https://www.instagram.com/fordbrasil/"><img src="/img/instagram-logo-50.png" alt=""></a>
            <div class = "logo"><img src="/img/ford-96.png" alt=""></div>
        </div>
    </footer>
</body>
