<div class="app-container">
  <header> 
    <div class="menu">
      <img class="logTop" [src]="'images/logo-ford-256.png'" alt="Ford Logo">
      <a routerLink="/">Home</a>
      <a routerLink="/lancamento">Lançamento</a>
      <a routerLink="/contato">Contato</a>
    </div>    
  </header>
  
  <main>
    <img [src]="'images/imagem_1.jpg'" alt="Nova Ranger">
    <div class="mensagem">
      Esta é nova ranger 2022. verifique novidades <a routerLink="/lancamento">aqui</a>
    </div> 
  </main>
  
  <footer>
    <div class="footer-container">
      Redes Sociais 
      <a href="https://www.facebook.com/ford/?locale=pt_BR" target="_blank">
        <img [src]="'images/facebook-50.png'" alt="Facebook">
      </a>
      <a href="https://www.youtube.com/@fordbrasil" target="_blank">
        <img [src]="'images/youtube-squared-50.png'" alt="YouTube">
      </a>
      <a href="https://www.instagram.com/fordbrasil/" target="_blank">
        <img [src]="'images/instagram-logo-50.png'" alt="Instagram">
      </a>
      <div class="logo">
        <img [src]="'images/ford-96.png'" alt="Ford Logo">
      </div>
    </div>
  </footer>
</div>